<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1><%= book.title %></h1>

      <section>
        <address>
          <a href="mailto:<%= book.pub_email%>"> <%= book.pub_name %></a>
        </address>

        <time datetime="<%= book.date %>"> <%= book.humanDate %> </time>
      </section>

      <hr />

      <section><%= book.body %></section>
    </main>
  </body>
</html>
